@import "../display_button_css/button.css";

body {
    padding: 0;
    background-color: #545454;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
    justify-content: center;
    align-content: start;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0 ;
}

.grid-item {
    font-family: monospace;
    font-size: 1.5em;

    box-sizing: border-box;
    height: 200px;
    background-color: #747474;
    color: transparent;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #484848;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: color .2s ease-in-out, background-color .5s ease-in-out;
}

.grid-item:hover {
    background-color:  #333;
    color: #fff;
}