:root {
    --button_color: #5adbb5;
    --arrow_color: #33b249;
    --text_color: #2F4858;

    --text_size: 2vw;
    --side_padding: var(--text_size);
    --top_padding: calc(var(--text_size) / 2);
    --button_radius: calc(var(--text_size) / 2);

    --button_c_height: calc(var(--text_size) + 2 * var(--top_padding));
    --button_c_width: calc(var(--button_c_height) + 2 * var(--side_padding));
    --arrow_border: var(--top_padding);
    --arrow_inner: calc(var(--button_c_height) / 1.4);


    --animation_to: calc(0px - var(--arrow_border) / 2 - var(--button_c_height) / 2);
    --animation_from: calc(var(--button_c_width) + var(--arrow_border) * 1.4);
}

@media screen and (max-width: 1000px) {
    :root {
        --text_size: 3vw;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --text_size: 5vw;
    }
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

.common_button-banner {
    position: fixed;

    left: 30px;
    top: 30px;
}

.common_button-container {
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;

    height: var(--button_c_height);
    width: var(--button_c_width);

    background-color: var(--button_color);
    /*border-radius: 10px;*/
    border-radius: var(--button_radius);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.37);

    cursor: pointer;
    position: relative;

    overflow: hidden;

    z-index: 100;
}

.common_button {
    font-size: var(--text_size);
    color: var(--text_color);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.common_arrow {
    width: var(--arrow_inner);
    height: var(--arrow_inner);
    border-top: var(--arrow_border) solid var(--arrow_color);
    border-left: var(--arrow_border) solid var(--arrow_color);
    border-right: var(--arrow_border) solid transparent;
    border-bottom: var(--arrow_border) solid transparent;

    position: absolute;
    top: 50%;
    left: var(--animation_from);
    transform: translateY(-50%) rotate(-45deg);
}

.common_arrow div {
    height: var(--button_c_width);
    width: var(--button_c_width);
    background: linear-gradient(0.375turn, rgba(0, 0, 0, 0), var(--button_color) 20%);
}


@keyframes moveArrow {
    0% {
        left: var(--animation_from);
    }
    100% {
        left: var(--animation_to);
    }
}

.common_follow {
    height: var(--button_c_height);
    width: calc(var(--button_c_width) + 40px);
    position: absolute;
    left: 110%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--button_color) 20%);
}