@import "../display_button_css/button.css";

:root {
    --slider_width: 10px;
    --slider_thumb_width: 25px;
    --slider_gap: 70px;
    --div_padding:10px;
}
body {
    font-family: "Agency FB", sans-serif;
    margin: 0;
    padding: 0;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #E9B824;
}
.sliders-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--div_padding);
    gap: var(--slider_gap);
}

.slider-container {
    width: var(--slider_width);
    height: 200px;
    position: relative;
}

.slider {
    width: 100%;
    height: 200px;
    background-color: #D83F31;
    border-radius: 10px;
    position: absolute;
}

.slider-thumb {
    width: var(--slider_thumb_width);
    height: var(--slider_thumb_width);
    background-color: #219C90;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: calc(var(--slider_width) / 2 - var(--slider_thumb_width) / 2);
    cursor: pointer;

    /* Disable dragging */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}




.number-line {
    display: flex;
    justify-content: space-between;
    /*width: 300px;*/
    padding: var(--div_padding);
    /*border-radius: 5px;*/
    gap: var(--slider_width);
}

.number-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--slider_gap);
    height: 30px;

    color: #666666;
    font-size: 36px;
    font-weight: bold;
}